@use "setting" as s;

.about {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-bottom: 120px;
  @include s.mq(tab) {
    flex-direction: column;
  }
}

.about-img {
  width: 48%;
  @include s.mq(tab) {
    width: 100%;
  }
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: s.$colorWhite;
}

.about-title {
  font-size: 30px;
  @include s.mq(tab) {
    font-size: 20px;
    text-align: center;
  }
}

.about-text {
  line-height: 2;
}
